<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiUrl" value="http://test.fang101.com/"/>
    <add key="MobilePhoneDownloadURL" value="http://fang101.com/Show/Index"/>
    <add key="LouPanMapURL" value="http://test.fang101.com/App/LouPanMap?LouPanID={0}"/>
    
  </appSettings>
</configuration>